.next-button {
  margin: 2rem auto 0 auto;
  display: block;
  background-color: #10b981;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.next-button:hover {
  background-color: #059669;
}

/* Mobil */
@media (max-width: 600px) {
  .next-button {
    width: 100%;
    max-width: 90%;
    font-size: 0.95rem;
    padding: 0.6rem;
  }
}
